@model IEnumerable<QL_SinhVien.Models.QuanLySV>

@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
}

<h1 class="w3-container w3-center"> 
      Quản Lí sinh viên 
</h1>

<h2>Danh sách sinh viên</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="w3-table-all w3-centered ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SDT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Khoa)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSV)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgaySinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lop.TenLop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Khoa.TenKhoa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MaSV">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MaSV">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MaSV">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>